<p><a href="game.php?village={$village.id}&amp;screen=info_player&amp;id={$report.from_user}">{$report.from_username}</a> asked you for a holiday replacement. Click on holiday mode to accept the holiday replacement.
</p>
<a href="game.php?village={$village.id}&amp;screen=settings&amp;mode=vacation">Holiday mode</a>