<p><a href="game.php?village={$village.id}&amp;screen=info_player&amp;id={$report.from_user}">{$report.from_username}</a> accepted you to their friends list.</p>
<a href="game.php?village={$village.id}&amp;screen=friends">&raquo; Friends</a>