<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title></title>
<link rel="stylesheet" type="text/css" href="stamm.css" />
<script src="script.js?1159978916" type="text/javascript"></script>
</head>

<body >
<table class="main" width="100%" align="center"><tr><td><h2>Create New Village</h2>
<p> It was set in the configuration that no more villages can be created. Therefore, you can no longer participate in the current round. <br /> <br /> <a href="./index.php"> Home </a> </ p>
</td></tr></table>
<script type="text/javascript">setImageTitles();</script>
</body>
</html>
