<h2>Estatat&iacute;sticas do servidor</h2>
<table class="vis" width="100%">
<tr>
	<tr><th>Players:</th><th>{$players}</th></tr>
	<tr><td>Total Villages:</td><td>{$villages} ({$villagesPerPlayer} por jogador)</td></tr>
	<tr><td>Player Villages:</td><td>{$villagesplay}</td></tr>
	<tr><td>Barbarian Villages;ras:</td><td>{$villagesaband}</td></tr>
        <tr><td>Aldeias b&ocirc;nus:</td><td>Em breve!</td></tr>
</table>
<br><br>
<table class="vis" width="100%">
	<tr><th>The following values were calculated</th><th>Today's time' {$time}</th></tr>
	<tr><td>Players online:</td><td>{$online}</td></tr>
	<tr><td>Messages sent:</td><td>{$mails} ({$mailsPerPlayer} por jogador)</td></tr>
	<tr><td>Mensagens do f&oacute;rum:</td><td>{$forum}</td></tr>
	<tr><td>Troop movements:</td><td>{$mtrop}</td></tr>
	<tr><td>Trade Movements:</td><td>{$mcom}</td></tr>
	<tr><td>N&uacute;mero de cl&atilde;s:</td><td>{$allys}</td></tr>
	<tr><td>N&uacute;mero de jogadores em cl&atilde;s:</td><td>{$playerallys}</td></tr>
	<tr><td>Total Points:</td><td>{$pointsAll|format_number} ({$pointsPerPlayer|format_number} por jogador, {$pointsPerVillage|format_number} por aldeia)</td></tr>
	<tr><td>Total resources:</td><td><img src="http://{$config.cdn}/graphic/icons/wood.png" title="Wood" alt="" />{$sum.wood} <img src="http://{$config.cdn}/graphic/icons/stone.png" title="Stone" alt="" />{$sum.stone} <img src="http://{$config.cdn}/graphic/icons/iron.png" title="Iron" alt="" />{$sum.iron} </td></tr>
	<tr><td>Total Population:</td><td><img src="http://{$config.cdn}/graphic/icons/farm.png" title="Worker" alt="" /> {$sum.bh}</td></tr>
	<tr>
		<td>Total Troops:</td>
		<td>
			<table class="vis" width="100%">
				<tr>{foreach from=$units item=u}<th width="45"><div align="center"><img src="http://{$config.cdn}/graphic/unit/{$u}.png" alt="" /></div></th>{/foreach}</tr>
				<tr>{foreach from=$unitsAll item=unit}<td align="center">{if $unit>0}{$unit|format_number}{else}<span class="hidden">{$unit}</span>{/if}</td>{/foreach}</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>Average troops per player:</td>
		<td>
			<table class="vis" width="100%">
				<tr>{foreach from=$units item=u}<th width="45"><div align="center"><img src="http://{$config.cdn}/graphic/unit/{$u}.png" alt="" /></div></th>{/foreach}</tr>
				<tr>{foreach from=$unitsPerPlayer item=unit}<td align="center">{if $unit>0}{$unit|ceil}{else}<span class="hidden">{$unit}</span>{/if}</td>{/foreach}</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>Average troops per village:</td>
		<td>
			<table class="vis" width="100%">
				<tr>{foreach from=$units item=u}<th width="45"><div align="center"><img src="http://{$config.cdn}/graphic/unit/{$u}.png" alt="" /></div></th>{/foreach}</tr>
				<tr>{foreach from=$unitsPerVillage item=unit}<td align="center">{if $unit>0}{$unit|ceil}{else}<span class="hidden">{$unit}</span>{/if}</td>{/foreach}</tr>
			</table>
		</td>
	</tr>
	<tr><td>Newest player:</td><td>{$newplayer|entparse}</td></tr>
	<tr><td>Newest player;:</td><td>{$newally|entparse}</td></tr>
</tr>
</table>