<h2>Team</h2>
					<div style="padding-left:10px;">
						Below is an overview of the members of the Imperalis development team.<br /><br/>
						<table class="vis" width="100%">
							<tr>
								<th>Naam:</th>
								<th>Email:</th>
								<th>Naam in het spel:</th>
								<th>Nationaliteit:</th>
								<th>Functie:</th>
							</tr>
							<tr>
								<td>Captainwater</td>
								<td>info@imperalis.nl</td>
								<td>Captainwater</td>
								<td>Nederlands</td>
								<td>Ontwikkelaar/Moderator</td>
							</tr>
							<tr>
								<td>Mugaru</td>
								<td>info@imperalis.nl</td>
								<td>Mugaru</td>
								<td>Nederlands</td>
								<td>Ontwikkelaar/Moderator</td>
							</tr>
							<tr>
								<td>#</td>
								<td>#</td>
								<td>#</td>
								<td>#</td>
								<td>#</td>
							</tr>
						</table><br /><br />
						Se voc&ecirc; quer ser uma parte de nossa equipe, voc&ecirc; precisa ter os requisitos m&iacute;nimos:
						<ul>
							<li>Falar e escrever fluentemente uma das l&iacute;nguas: Ingl&ecirc;s, Romeno ou Alem&atilde;o.</li>
							<li>Ter uma boa experi&ecirc;ncia no jogo.</li>
							<li>Ter uma carga hor&aacute;ria dispon&iacute;vel di&aacute;ria para trabalhar pelo servidor.</li>
							<li>Ter algum conhecimento nas &aacute;reas necess&aacute;rias: Desenvolvimento Web, Designer, modera&ccedil;&atilde;o, suporte.</li>
						</ul><br />
						Se caso voc&ecirc; se encaixar a estes requisitos, sinta-se livre para se candidatar ao trabalho pressionando o bot&atilde;o abaixo:<br /><br />
						<input type="button" href="javascript:void(0);" onclick="$('#team').fadeIn(200);" class="button green" value="CANDIDATAR-SE">
						<br /><br /><br />
					</div>
				<table id="team" class="team" style="display:none;" align="center">
					<tr>
						<td align="center" style="padding:0px;">
							<table class="vis" style="padding:0px;float:center;" width="397">
								<tr>
									<th style="line-height:16px;">
										<b>Insira seus dados:</b>
										<span style="float: right;"><input type="button" onclick="$('#team').hide('slow');" class="button red" value="Cancelar" /></span>
									</th>
								</tr>	
							</table>
						</td>
					</tr>
					<tr>
						<td align="center" style="padding:0px;">
<center>Em breve!</center>
				</td>
					</tr>
				</table>
